*{
    box-sizing:border-box;
    background-color:#0E0E15;
    color:#F3F3F3;;
}
.margin{
    margin:0px;
}
.row1{
    border:0px solid white;
    height:27px;   
} 
.row2{
    border:0px solid white;
    height:72px;   
} 
.col1{
    border:0px solid white;
    height:72px;
    width:72px;
    margin-left:80px;
    float:left;   
}
.col2{
    height:48px;
    float:left;  
    border:0px solid white;
    margin:10px 0px 0px 4px;
    color: var(--text, #F3F3F3);
    font-size: 20px;
    font-family: Karantina;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-transform: capitalize; 
}
.col4{
    border:0px solid white;
    height:30px;
    float:left; 
    margin:15px 0px 0px 840px;
    color: var(--text, #F3F3F3);
    font-size: 15px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
} 
.col5{
    border:0px solid white;
    height:30px;
    float:right;
    margin:15px 30px 0px 4px;
    color: var(--text, #F3F3F3);
    font-size: 15px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
} 
.row3{
    border-bottom:2px solid red;
    height:28px;   
} 
.row4{
    border:0px solid white;
    height:40px;   
} 
.row5{
    border:0px solid white;
    height:30px;   
} 
.col6{
    border:0px solid white;
    height:30px;
    width:56px;
    float:left;
    margin-left:160px;
    color: var(--text, #F3F3F3);
    font-size: 20px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
} 
.row6{
    border:0px solid white;
    height:28px;   
} 
.row7{
    border-bottom:2px solid white;
    height:277px; 
    margin:0px 160px 24px 160px; 
}
.Detail_container1{
    border:1px solid white;
    height:252px;
    width:495px;
    float:right;
    margin:0px 220px 0px 4px;
}
.detail{
    border:1px solid white;
    height:208px;
    width:495px;
    float:right;
}
.heading1{
    margin:2px 0px 0px 0px;
}
.type1{
    margin:3px 0px 0px 0px;
    font-size: 10px;
}
.description1{
        margin:4px 0px 4px 0px;
        font-size:12px; 
}
.head{
    margin:10px 0px 2px 0px;
    font-size:15px;
}
.button{
    border:1px solid white;
    height:42px;
    width:495px;
    float:right;
}
.Likeicon1{
    height:40px;
    width:30px;
    margin:0px;
    float:left;
}
.rating1{
    border:0px solid white;
    height:35px;
    width:30px;
    margin:2px;
    float:left;
}
.Dislikeicon1{
    height:40px;
    width:30px;
    margin:0px;
    float:left;
}
.Delete1{
    float:right;
    margin:4px;
}
.row8{
    border-bottom:2px solid white;
    height:277px; 
    margin:0px 160px 24px 160px; 
}
.Detail_container2{
    border:1px solid white;
    height:226px;
    width:495px;
    float:right;
    margin:0px 220px 0px 4px;
}
.detail1{
    border:1px solid white;
    height:182px;
    width:495px;
    float:right;
}
.heading2{
    margin:2px 0px 0px 0px;
}
.type2{
    margin:3px 0px 0px 0px;
    font-size: 10px;
}
.description2{
        margin:4px 0px 4px 0px;
        font-size:12px; 
}
.head1{
    margin:10px 0px 2px 0px;
    font-size:15px;
}
.button1{
    border:1px solid white;
    height:42px;
    width:495px;
    float:right;
}
.Likeicon2{
    height:40px;
    width:30px;
    margin:0px;
    float:left;
}
.rating2{
    border:0px solid white;
    height:35px;
    width:30px;
    margin:2px;
    float:left;
}
.Dislikeicon2{
    height:40px;
    width:30px;
    margin:0px;
    float:left;
}
.Delete2{
    float:right;
    margin:4px; 
}
.row9{
    border-bottom:2px solid white;
    height:277px; 
    margin:0px 160px 24px 160px; 
}
.Detail_container3{
    border:1px solid white;
    height:226px;
    width:495px;
    float:right;
    margin:0px 220px 0px 4px;
}
.detail2{
    border:1px solid white;
    height:182px;
    width:495px;
    float:right;
}
.heading3{
    margin:2px 0px 0px 0px;
}
.type3{
    margin:3px 0px 0px 0px;
    font-size: 10px;
}
.description3{
        margin:4px 0px 4px 0px;
        font-size:12px; 
}
.head2{
    margin:10px 0px 2px 0px;
    font-size:15px;
}
.button2{
    border:1px solid white;
    height:42px;
    width:495px;
    float:right;
}
.Likeicon3{
    height:40px;
    width:30px;
    margin:0px;
    float:left;
}
.rating3{
    border:0px solid white;
    height:35px;
    width:30px;
    margin:2px;
    float:left;
}
.Dislikeicon3{
    height:40px;
    width:30px;
    margin:0px;
    float:left;
}
.Delete3{
    float:right;
    margin:4px; 
}
.row10{
    border-bottom:2px solid white;
    height:277px; 
    margin:0px 160px 24px 160px; 
}
.Detail_container4{
    border:1px solid white;
    height:226px;
    width:495px;
    float:right;
    margin:0px 220px 0px 4px;
}
.detail3{
    border:1px solid white;
    height:182px;
    width:495px;
    float:right;
}
.heading4{
    margin:2px 0px 0px 0px;
}
.type4{
    margin:3px 0px 0px 0px;
    font-size: 10px;
}
.description4{
        margin:4px 0px 4px 0px;
        font-size:12px; 
}
.head3{
    margin:10px 0px 2px 0px;
    font-size:15px;
}
.button3{
    border:1px solid white;
    height:42px;
    width:495px;
    float:right;
}
.Likeicon4{
    height:40px;
    width:30px;
    margin:0px;
    float:left;
}
.rating4{
    border:0px solid white;
    height:35px;
    width:30px;
    margin:2px;
    float:left;
}
.Dislikeicon4{
    height:40px;
    width:30px;
    margin:0px;
    float:left;
}
.Delete4{
    float:right;
    margin:4px; 
}

