*{
    box-sizing:border-box;
    background-color:#0E0E15;
}
.margin{
    margin:0px;
}
.row1{
    border:0px solid white;
    height:27px;   
} 
.row2{
    border:1px solid white;
    height:72px;   
} 
.col1{
    border:1px solid white;
    height:72px;
    width:72px;
    margin-left:80px;
    float:left;   
}
.col2{
    height:48px;
    float:left;  
    border:1px solid white;
    margin:10px 0px 0px 4px;
    color: var(--text, #F3F3F3);
    font-size: 20px;
    font-family: Karantina;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-transform: capitalize; 
}
.col4{
    border:1px solid white;
    height:30px;
    width:56px;
    float:left; 
    margin:15px 0px 0px 840px;
    color: var(--text, #F3F3F3);
    font-size: 15px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
} 
.col5{
    border:1px solid white;
    height:30px;
    float:right;
    margin:15px 30px 0px 6px;
    color: var(--text, #F3F3F3);
    font-size: 15px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
} 
.row3{
    border:1px solid red;
    height:28px;   
} 
.row4{
    border:1px solid white;
    height:40px;   
} 
.row5{
    border:1px solid white;
    height:30px;   
} 
.col6{
    border:1px solid white;
    height:30px;
    width:56px;
    float:left;
    margin-left:160px;
    color: var(--text, #F3F3F3);
    font-size: 20px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
} 
.row6{
    border:1px solid white;
    height:28px;   
} 
.row7{
    border:1px solid white;
    height:277px; 
    padding:0px 160px 24px 160px; 
}
.Deatil_conatiner{
    border:1px solid white;
    height:48px;
    width:495px;
    margin-right:500px;
    float:right;
    color: var(--text, #F3F3F3);
    font-size: 36px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-transform: capitalize; 
}  
.row8{
    border:1px solid white;
    height:277px; 
    padding:24px 160px 24px 160px; 
}
.row9{
    border:1px solid white;
    height:277px; 
    padding:24px 160px 24px 160px; 
}
