*{
    box-sizing:border-box;
    background-color:#0E0E15;
    color:#F3F3F3;;
}
.margin{
    margin:0px;
}
.row1{
    border:0px solid white;
    height:27px;   
} 
.row2{
    border:0px solid white;
    height:72px;   
} 
.col1{
    border:0px solid white;
    height:72px;
    width:72px;
    margin-left:80px;
    float:left;   
}
.col2{
    height:48px;
    float:left;  
    border:0px solid white;
    margin:10px 0px 0px 4px;
    color: var(--text, #F3F3F3);
    font-size: 20px;
    font-family: Karantina;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-transform: capitalize; 
}
.col4{
    border:0px solid white;
    height:30px;
    float:left; 
    margin:15px 0px 0px 840px;
    color: var(--text, #F3F3F3);
    font-size: 15px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
} 
.col5{
    border:0px solid white;
    height:30px;
    float:right;
    margin:15px 30px 0px 4px;
    color: var(--text, #F3F3F3);
    font-size: 15px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
} 
.row3{
    border-bottom:2px solid red;
    height:28px;   
} 
.row4{
    border:0px solid white;
    height:40px;   
} 
.row5{
    border:0px solid white;
    height:30px;   
} 
.col6{
    border:0px solid white;
    height:30px;
    width:56px;
    float:left;
    margin-left:160px;
    color: var(--text, #F3F3F3);
    font-size: 20px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
} 
.row6{
    border:0px solid white;
    height:28px;   
} 
.row7{
    border-bottom:1px solid white;
    height:277px; 
    width:920px;
    margin:0px 160px 24px 160px; 
}
.data_row{
    
    width:1000px;
    height:277px;
    border-bottom:solid 1px grey;
    margin: auto;
    margin-bottom:20px;
    
}
.movie_image{
    width:220px;
    height:255px;
    float:left;
    
}

.movie_detail{  
    width:775px;
    height:255px;
    float:left;
}
.text2{
    color:white;
    margin:12px;
    font-size:30px;
}

.action{
    width:775px;
    height:40px;
}
.like{
    width:32px;
    height:32px;
    margin-right:2px;
    float:left;
}
.rating{
    width:32px;
    height:32px;
    margin-left:12px;
    margin-top:9px;
    float:left;
}
.value{
    margin-top:2px;
    margin-left:15px;
}
.dislike{
    width:32px;
    height:32px;
    margin-right:2px;
    margin-left:8px;
    float:left;
}
.delete{
    width:32px;
    height:32px;
    margin-right:2px;
    float:right;
}

.movie_name{
    margin:0px;
}
.All_detail{
    width:775px;
    height:215px;
}
.footer_row{
    width:100%;
    height:350px;
}

.row8{
    width:1000px;
    height:350px;
    margin:auto;
}
.new_movie{
    width:170px;
    height:50px;
    margin-top:80px;
}
.text4{
    margin:2px;
}
         

